.weekday {
    @include body-2-500();
    padding: 6px;
}

.day {
    @include body-2-400();
    border-radius: 4px;
    // padding: 4px;
    align-content: center;
    vertical-align: middle;
    color: var(--text-description);
    &.today {
        border-width: 1px;
        border-style: solid;
        border-color: var(--primary-color);
    }
    &.current {
        color: var(--text-color);
    };
    &.notAvailable {
        color: $text-error;
    };
    &.selected {
        color: white;
        background-color: var(--primary-color);
        &.range {
            border-radius: 0px;
            background-color: color-mix(in srgb, var(--primary-color) 30%, white 100%);
        };
        &.start {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            background-color: var(--primary-color);
        };
        &.end {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            background-color: var(--primary-color);
        };
        &.today {
            // color: var(--primary-color);
            // background-color: white;
            border-style: none;
        };
        &:hover {
            color: var(--primary-color);
            background-color: var(--background-color);
        };
    };
    &:hover {
        background-color: var(--background-color);
    };
}